<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Security.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Security.Properties.Settings>
            <setting name="HistoryDBType" serializeAs="String">
                <value>Oracle</value>
            </setting>
            <setting name="HistoryDBConn" serializeAs="String">
                <value>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.190.60.21)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=finchina1)));User Id=caihui;Password=caihui;</value>
            </setting>
            <setting name="HistoryDataVendor" serializeAs="String">
                <value>CaiHui</value>
            </setting>
            <setting name="RealtimeDBType" serializeAs="String">
                <value />
            </setting>
            <setting name="RealtimeDBConn" serializeAs="String">
                <value />
            </setting>
            <setting name="RealtimeDataVendor" serializeAs="String">
                <value>Sina</value>
            </setting>
        </Security.Properties.Settings>
    </applicationSettings>
</configuration>